POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
SPRING_DATASOURCE_URL=

APP_PROXY_ENABLED=true
APP_PROXY_HOST=
APP_PROXY_PORT=

EMAIL_ADDRESS=
EMAIL_PASSWORD=

JWT_SECRET=

TELEGRAM_BOT_NAME=
TELEGRAM_BOT_TOKEN=

APP_PORT=

WEBSITE_ADDRESS=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

APP_S3_ENDPOINT=
APP_S3_ACCESS_KEY=
APP_S3_SECRET_KEY=
APP_S3_BUCKET_NAME=

ML_SERVICE_TOKEN=
ML_SERVICE_HEADER=